---
import Header from '../components/Header.astro'
interface Props{
	title:string;
	description:string;
	image:string;
}
const {title, description=' a fucking test', image ='/imgs/makeup.jpg'} = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Header></Header>
        <slot/>


	</body>
</html>

